.item_maker{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px;
    row-gap: 15px;
    font-size: 30px;
    text-align: center;
    padding-bottom: 15px;

}

.item_maker > .maker_card{
    border:  solid 2px #989898;
}

.item_card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 250px;
    column-gap: 12px;
    row-gap: 12px;
    font-size: 10px;
    padding: 15px;
    padding-top: 0px;
}   

.item_card > a{
    position: relative;
    padding: 15px;
    border:  solid 2px #989898;

}

img {
    width: 150px;
    height:150px;
    position: absolute;
    top:auto; 
    right: auto;
    bottom: 15px;
    left: 15px;
}

@media screen and (max-width: 1000px) {
    .item_card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 100px;
        column-gap: 12px;
        row-gap: 12px;
        font-size: 10px;
    }

    .item_card > div{
        position: relative;
        padding: 10px;
    }

    img {
        width: 80px;
        height:80px;
        position: absolute;
        top:10px; 
        right: auto;
        bottom: 10px;
        left: 10px;
    }
}