html{
    color: #989898;
}

body {
    font-size: 2rem;
    width: 800px;
    margin: 0 auto;
    min-height: 100vh;
    display: grid;
    grid-template:
        " ...... ...... ...... " 25px
        " header header header " 50px
        " ...... ...... ...... " 50px
        " ...... center ...... " 1fr
            /  0px 1fr 0px
}

a{
    text-decoration: none;
    color: #989898;

  }

header {
    grid-area: header;
    border-bottom: solid 2px #989898;
}
.container{
    height: 50px;
    display: grid;
    grid-template:
    "logo maker tag search " 50px
    /  200px 1fr 1fr 200px 
}

.logo_header{
    grid-area: logo;
    font-size: xx-large;
}

.maker_header{
    grid-area: maker;
}

.tag_header{
    grid-area: tag;
}

.form_header{
    grid-area: search;
    text-align: right;
    margin: 0;
    padding: 0;
}

.wrap_input{
    height: 50px;
}

main {
    grid-area: center;
}


@media screen and (max-width: 1000px) {
    body {
        margin: 0 auto;
        padding: 10px;
        min-width: 800px;
        grid-template:
            "......." 0px   
            "header" 50px
            "......." 25px
            "center " 1fr
    }

    .container{
        display: grid;
        grid-template:
        "logo maker tag search " 50px
        /  1fr 1fr 1fr 1fr  
    }



 



















	
ul.colored {
	background-color: skyblue;
	outline: 1px solid black;
}
  ul.colored li {
	background-color: burlywood;
	outline: 1px solid black;
  }
  ul.colored li h1 {
	  background-color: coral;
	outline: 1px solid black;
  }
  ul.colored li p {
	background-color: pink;
	outline: 1px solid black;



	