{% extends 'app/base.html' %}
{% block content %}
<h2>{{ item.item_name }}</h2>
<div class="form">
    <form action="{% url 'app:reload' item.pk %}" method="POST">
        {% csrf_token %}
        <button type="submit">更新</button>
    </form>
    <form action="{% url 'app:exclusion' item.pk %}">
        {% csrf_token %}
        <button type="submit">除外</button>
    </form>
    <form action="{% url 'app:edit' item.pk %}">
        {% csrf_token %}
        <button type="submit">編集</button>
    </form>

</div>
<ul>
    <li>url list</li>
    {% for main_list in main_lists %}
    <p>
        <a href="{{ main_list.main_url }}" class="link00">
            {{ main_list.main_title }}
        </a>
    </p>
    </form>
    {% endfor %}
    <li>except url list</li>
    {% for except_list in except_lists %}
    <p>
        <a href="{{ except_list.except_url }}" class="link00">
            {{ except_list.except_title }}
        </a>
    </p>
    {% endfor %}
</ul>
{% endblock %}